@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {

  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-900: #064e3b;

  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    -webkit-font-smoothing: antialiased;
  }
}